.menu-aside {
  float: left;
  display: block;
  width: 18vw;
  padding-top: 1%;
}

.menu-item {
  margin-top: 5%;
  margin-left: 5%;
  border: 2px solid grey;
  cursor: pointer;
}

.menu-item:hover {
  border-left: 10px solid #DB5461;
}
.menu-icon {
  padding-top: 6%;
  width: 20%;
}

h2 {
  padding-bottom: 8%;
  font-size: 2em;
}

.menu-item-active {
  margin-top: 5%;
  margin-left: 5%;
  border: 2px solid grey;
  border-left: 10px solid #DB5461;
  cursor: pointer;
}