.news-card-container {
  width: 80%;
  height: 100vh;
  margin-right: 2%;
  float: right;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  background-attachment: fixed;
}