.header-container {
  background-color: #E3F2FD;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;;

}
.whats-new-header {
  font-size: 3em;
}

.search-input {
  background-color: #E3F2FD;
  border: 1px solid black;
  margin-top: 1%;
  height: 70%;
  width: 50%;
  font-size: 1.5rem;
}

.search-button {
  margin-right: 2%;
  margin-top: 1%;
  height: 70%;
  width: 20%;
}

